<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<!-- <p id="notice"><%= notice %></p> -->

<h1>Physicians</h1>
<p>has_many:through Association</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Physicians ID</th><th>Physicians Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.id %></td><td><%= physician.name %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-share">Show'.html_safe, physician %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-edit">Edit'.html_safe, edit_physician_path(physician) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-share">Destroy'.html_safe, physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="glyphicon glyphicon-pencil"></i>New Physician'.html_safe, new_physician_path, class: "btn btn-primary" %>
