<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to '<i class="glyphicon glyphicon-pencil"></i>New Resume'.html_safe, new_resume_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @resumes.each do |resume| %>
         
         <tr>
            <td><%= resume.name %></td>
            <td><%= link_to '<i class="glyphicon glyphicon-download"></i>Download Resume'.html_safe, resume.attachment_url %></td>
            <td><%= link_to  '<i class="glyphicon glyphicon-trash"></i>Delete'.html_safe, resume, method: :delete,confirm: "Are you sure that you wish to delete #{resume.name}?",class: "btn btn-danger"%>
            </td>
            
         </tr>
         
      <% end %>
   </tbody>
   
</table>
