<!DOCTYPE html>
<html>
  <head>
    <title>PraAssociation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  
  <!-- Adding Header using boot strap -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Adding Header using boot strap -->


  </head>

  <body>
    
    <%= Time.now %>
    <% if user_signed_in? %>
       <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
    
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Kids", kids_path %></li>
        <li><%= link_to "Candies", candies_path %></li>
        <li><%= link_to "Appointments", appointments_path %></li>
        <li><%= link_to "Physicians", physicians_path %></li>
        <li><%= link_to "Patients", patients_path %></li>
        <li><%= link_to "Actors", actors_path %></li>
        <li><%= link_to "Films", films_path %></li>
        <li><%= link_to "Resumes", resumes_path %></li>
        <li><%= link_to "Photos", photos_path %></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <% if alert %>    
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>

    
    <%= yield %>
  </div>




  </body>
</html>
